body{
    /* background-color: rgba(4, 7, 40, 0.92); */
    /* margin: auto; */
}

.contenido-tabla {
    width: 96%;
    /* display: flex; */
}

/* .fecha-estado{
    width: 17%;
}
.fila-botones{
    width: 10%;
} */

/* th,tr,
table {
    border: 1px solid black;
}
th {
    width: 20%;
} */
