<!DOCTYPE html {% load static %}>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo | {% block titulo %}{% endblock titulo %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="">
        <h1 class="">MyNotesSoup</h1>
    </header>
    {% block contenido %}{% endblock contenido %}
    <footer class="">
        <p class="">All rights reserved. MyNotesSoup</p>
    </footer>
</body>
</html>